<%- include('index', { posts: posts }) %>

    <div class="blog-title-div">
      <p class="page-title">Posts</p>
      <p class="action-button">Gerenciar Posts</p>
    </div>

    <div class="blog-content">
      <% posts.forEach(function(post) { %>
        <div class="post-box">
          <p class="post-title"><%= post.title %></p>
          <p class="post-author"><%= post.author %></p>
          <p class="post-content"><%= post.content %></p>
          <p class="post-date"><%= post.createdDate %></p>
          <!-- Fazer verificação para essa div aparecer apenas quando logado com o professor -->
          <div class="div-display">
            <p class="posts-button">Editar</p>
            <p class="posts-button red-button">Excluir</p>
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>